*sublime*
readings
text/*.html
text/*.pdf
src/*/*.pdf
src/*/*.ps
src/*/*.out
src/*/*.sh
src/*/*sublime*
src/*/*.fasta
text/hidden_text/*.html
text/hidden_text/*.pdf
text/hidden_text/.tmp
text/lectures/*/*.pdf
text/homeworks/*.pdf
text/homeworks/*.html
text/*/.tmp
*.pyc
*~
*.DS_Store
cmsc423
.ruby*
rosalind_examples
.ipynb_checkpoints

