.main article table ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.main article table ul li {
    background-image: none !important;
    list-style-type: none;
}

.tr-future {
    background-color: #E0E0EB;
}

.tr-present {
    background-color:   #C2D1F0;
}