<div class="main">
  <h1 class="page-title" data-filename=" {{ site.baseurl }}{{ page.url }}">{{ page.title }}</h1>
  <h3></h3>

  <section>
  <article class="readme">
  {% if page.logo %}{{ page.logo }}{% endif %}
  <h1>{{ page.title }}</h1>
  
  {{ content }}

<table class="table">
<colgroup>
<thead>
<tr><th>Date<th>Title<th>Class Prep<th>Work Due
<tbody>
  {% for entry in site.data.calendar %}
<tr {% if entry.status == "present" %}class="tr-present"{% elsif entry.status == "done" %}{% else %}class="tr-future"{% endif %}><td>{{ entry.date }}
       <td>{% include calendar_theme.html %}
       <td>{% include calendar_readings.html %}
       <td>{% include calendar_workdue.html %}
</tr>	 
{% endfor %}
</table>

<table class="table">
	<colgroup>
	<thead>
		<tr><th>Legend
	</thead>
	<tbody>
		<tr class="tr-future"><td>Not ready yet
		<tr class="tr-present"><td>Pre-lecture ready
		<tr><td>Post-lecture ready
	</tbody>
</table>

  </article>
  </section>
  <footer></footer>
</div>
